<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#"><%= t("dictionary.welcome") %></a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "All", :admin_items %></li>
              <li><%= link_to "Home", admin_items_path(:collection => Item::COLLECTIONS[:home]) %></li>
              <li><%= link_to "Film", admin_items_path(:collection => Item::COLLECTIONS[:film]) %></li>
              <li><%= link_to "Commercial", admin_items_path(:collection => Item::COLLECTIONS[:commercial]) %></li>
              <li><%= link_to "Branded Content", admin_items_path(:collection => Item::COLLECTIONS[:brand]) %></li>
            </ul>
          </li>
          <li><%= link_to "About", edit_admin_about_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>