<% title "Item > #{@item.title}" %>

<div class="item film">
  <% if !@item.video_script.blank? %>
    <div class="video_script">
      <%= @item.video_script.html_safe %>
    </div>
  <% end %>

  <div class="pics">
    <ul>
      <% @item.pics_show.each do |pic| %>
        <li class="pic"><%= image_tag pic.attach(:front_big) %></li>
      <% end %>
    </ul>
  </div>

  <div class="info">
    <h2><%= @item.title %></h2>
    <div class="text">
      <%= @item.text.to_md %>
    </div>

    <% if @item.text_es %>
      <hr />

      <div class="text es">
        <%= @item.text_es.to_md %>
      </div>
    <% end %>
  </div>
</div>