<% title "#{@item.title}" %>

<div class="item film">
  <% if @item.video.exists? && @item.video_active %>
    <div class="video_qt info_block">
      <% if browser.firefox? || !@item.html5_active %>
        <object width="638" height="<%= video_height(@item) %>" id="video" codebase="http://www.apple.com/qtactivex/qtplugin.cab" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B">
          <param value="<%= @item.video.url %>" name="src">
          <param value="true" name="autoplay">
          <param name="type" value="video/quicktime" height="<%= video_height(@item) %>" width="638">
          <param value="true" name="kioskmode">
          <param value="#ffffff" name="bgcolor">
          <embed bgcolor="#ffffff" width="638" height="<%= video_height(@item) %>" pluginspage="http://www.apple.com/quicktime/download/" kioskmode="true" name="video" type="video/quicktime" autoplay="true" src="<%= @item.video.url %>">
        </object>
      <% else %>
        <video src="<%= @item.video.url %>" width="638" controls>
          Your browser does not support the video player please use a
          modern browser.
        </video>
      <% end %>
    </div>
  <% end %>

  <% if !@item.video_script.blank? && @item.video_script_active %>
    <div class="video_script info_block">
      <%= @item.video_script.html_safe %>
    </div>
  <% end %>

  <% if !@item.pics.empty? %>
    <div class="pics info_block">
      <ul>
        <% @item.pics_show.each do |pic| %>
          <li class="pic"><%= image_tag pic.attach(:front_big) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="info info_block">
    <h2><%= @item.title %></h2>
    <div class="text">
      <%= @item.text.to_md %>
    </div>

    <% if @item.text_es %>
      <hr />

      <div class="text es">
        <%= @item.text_es.to_md %>
      </div>
    <% end %>
  </div>
</div>