<% title "Item > #{@item.title}" %>

<div class="item film">
  <% if @item.video.exists? && @item.video_active %>
    <div class="video_qt info_block">
      <% if true #browser.firefox? %>
        <embed
          src="<%= @item.video.url %>"
          autoplay="true"
          width="638"
          height="<%= @item.video_height %>"
          scale="aspect"
          bgcolor="#ffffff"
          pluginspage="http://www.apple.com/quicktime/download/"> </embed>
      <% else %>
        <video src="<%= @item.video.url %>" width="638" controls>
          Your browser does not support the video player please use a
          modern browser.
        </video>
      <% end %>
    </div>
  <% end %>

  <% if !@item.video_script.blank? && @item.video_script_active %>
    <div class="video_script info_block">
      <%= @item.video_script.html_safe %>
    </div>
  <% end %>

  <% if !@item.pics.empty? %>
    <div class="pics info_block">
      <ul>
        <% @item.pics_show.each do |pic| %>
          <li class="pic"><%= image_tag pic.attach(:front_big) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="info info_block">
    <h2><%= @item.title %></h2>
    <div class="text">
      <%= @item.text.to_md %>
    </div>

    <% if @item.text_es %>
      <hr />

      <div class="text es">
        <%= @item.text_es.to_md %>
      </div>
    <% end %>
  </div>
</div>