<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LinoEscalera | <%= content_for?(:title) ? yield(:title) : "" %></title>
    <link rel="icon" type="image/jpeg" href="/assets/app/front/img/favicon.jpg">

    <% if browser.mobile? && browser.tablet? %>
      <meta name="viewport" class="tablet" content="width=device-width, height=device-height, initial-scale=1.0">
    <% else %>
      <meta name="viewport" class="mobile" content="width=device-width, height=device-height">
    <% end %>


    <%= javascript_include_tag "/assets/vendor/jquery/jquery.js" %>
    <%= stylesheet_link_tag "/assets/vendor/etc/reset.css" %>

    <!-- application -->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Signika:400,300,600' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "/assets/app/front/css/lino_escalera.css", :media => "all" %>

    <%= javascript_include_tag "/assets/app/front/js/front.js" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>

  </head>

  <body>
    <div id="header">
      <div class="wrapper">
        <%= link_to root_path do %>
          <div id="logo" class="text_replaced">
            <div class="main">Lino Escalera</div>
            <div class="sub">Film &amp; Commercial Director</div>
          </div>
        <% end %>

        <div id="menu" class="">
          <ul class="left">
            <li class="work main">Work</li>
            <li class="film <%= menu_class(:film) %>"><%= link_to "Film", front_collection_path(Item::COLLECTIONS[:film]) %></li>
            <li class="commercials <%= menu_class(:commercial) %>"><%= link_to "Commercials", front_collection_path(Item::COLLECTIONS[:commercial]) %></li>
            <li class="branded_content <%= menu_class(:brand) %>"><%= link_to "Branded Content", front_collection_path(Item::COLLECTIONS[:brand]) %></li>
          </ul>

          <ul class="right">
            <li class="follow main">Follow</li>
            <li class="about <%= menu_class(:about) %>"><%= link_to "About", front_about_path %></li>
            <li class="facebook"><a href="http://www.facebook.com/lininescalera">Facebook</a></li>
            <li class="twitter"><a href="https://twitter.com/LinoEsCalera">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="page">
      <div class="wrapper">
        <div id="email" class=""><a href="mailto:me@linoescalera.com">me@linoescalera.com</a></div>

        <div id="content">
          <%= yield %>
        </div>

      </div>
    </div>

    <%= render "shared/analytics" %>
  </body>
</html>

